

:root{

    --radio-button-size: 18px;
    --modal-height:475px;
    --modal-width:400px; 
    

}

div.fav-settings-container > svg{

    display: block;
    margin: auto;


}

.fav-settings-container{
    gap: 10px;
}



.modal-page{
    font-family: 'Nunito';font-size: 20px;
    font-weight:500;
    color: #494949;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    /* centers horizonally */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 1.4s ease-in-out;
}


.modal-page.show{
   display: flex;
}


/* ! Global and Main Tag Styling */
.modal-container {
    /* No Scroll*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: var(--modal-width);
    height: var(--modal-height);
    background-color: white;
    padding: 20px;
   
}
/* * Modal Flex Item Styling */

.modal-header{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.exit-button{

    background-color: #e71d350a;
    border-radius: 100%;

    height: 30px;
    width: 30px;
   
    color: rgb(228, 149, 80);

}

.item-category-type{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 30px;
  
}

div.category-type-logo{

    background-color: rgba(255, 141, 34, 0.120);
    border-radius: 100%;
    margin-right: 1rem;
    /* size of circle background for logo */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-type-text{
    font-size: 14px;

}

input[type=text]#name {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    
    border: none;
    border-radius: 10px;
    background-color: rgba(227, 227, 227, 0.246);
    
    width: 100%;

    margin-top: 40px;

}


input[type=text]#name::placeholder{
    color:rgba(139, 139, 139, 0.546);
    
}


/* ! Type Radio Button Selection Styling */

.type-selection{

    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;

}

.div-radio {
    display: inline-block;
    
    
}

.div-radio input {
    border: 0.15em solid currentColor;
    display: block;
    margin: 0px auto;    

    width: var(--radio-button-size);
    height: var(--radio-button-size);

   
}

.div-radio label {
    display:block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color:#737373;
    

    margin-top: 15px;

    
}


/* ! Days per week styling */

.days-per-week-container{

    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 5px;

    font-size: 14px;;
   
}

select#weekFrequency{

    max-width: 80px;
    max-height: 30px;
}



form.days-per-week{
    font-family: inherit;
    color: black;
 
}

.days-per-week-text{

    font-family: inherit;
    font-size: 12px;
    color: #737373;
    
}


/* ! Buttons */


.footer-buttons{
    margin-left: auto;
    margin-top: auto;

}

.modal-close-button, .modal-save-button{
    border: none;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 8px;
}

.modal-close-button{
    background: white;
    color: rgb(78,179,236);
    border: solid 1px rgb(78,179,236);

}

.modal-save-button{

    background: rgb(78,179,236);
    color: white;
    
}
