:root{

    --radio-button-size: 18px;
    --modal-container-height:500px;
    --modal-container-width:400px; 

}

/* ! Global and Main Tag Styling */
body {
    font-family: 'Nunito';font-size: 22px;
    font-weight:lighter;
    margin: 0px;
    color: #494949;
    min-height: 100vh;
    /* No Scroll*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

}
p{
    margin: 0px
}

button{

    border: none;
    cursor:pointer;
    
}



.modal-frame-container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ! Page container, left nav bar, and right side main application formatting and styling */

.page-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    

}

.left-nav-bar{

    display: flex;
    flex-direction: column;

    

    background-color: #ffffff;
    padding: 30px;
    

}

.right-main-application{

    height: 100vh;
    width: 100%;
    background-color: #f8f8f8;
    padding: 40px;
    
}



/* ! Task Tracker left side containers and styling */
.task-tracker-logo-container{

    display: flex;
    justify-content: space-between;  
    
}

.task-tracker-company{

    display: flex;
    align-items: center;
    font-size: 12px;
    
}

.task-tracker-main-text{

    margin:20px;

}



.profile-container{


    display: flex;
    flex-direction: row;
    margin-top: auto;
    
}

.profile{

    color: black;
    font-size: 16px;
    overflow-wrap: break-word;
    

}

.profile-name-and-status{
    margin-left: 10px;

}


.account-status{

    color: #8d8d9c;
    font-size: 12px;;


}

/* ! Start of Right side formatting and styling */

.task-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.task-navigation{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.task-navigation-buttons{
    display: flex;
    background-color: #ffffff;
    border-radius: 4px;;

}

.app-nav-button{
    background:#FF8F6B;
    font-family: 'Nunito';font-size: 14px;
    font-weight:300;
    color: #f7f7f7;
    border-radius: 2px;
    padding: 15px 30px;
    margin: 2px;

}
/* ! round corners styling*/
.tasks-btn{
    border-radius: 4px 0px 0px 4px;;
    margin: 0px;;
}
.account-btn{
    border-radius: 0px 4px 4px 0px;
    color: #494949;
    background-color: #ffffff;
    margin: 0px;;
}
.overview-btn{
    color: #494949;
    background-color: #ffffff;
    margin: 0px;
}

/*! Add Task Button */

.add-task-button, .submit-daily-task-button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: #f8f8f8;
    background-color: #4EB3EC;
    border-radius: 4px;
    margin-left: auto;
    margin-top: auto;
    
}



.add-task-text{
    margin-left: 15px;

}

.task-counter{
    margin-left: 20px;
    
}


.week-of-the-year{

    font-family: 'Nunito';font-size: 20px;
    margin-top: 20px;
}


/* ! Task Item Styling */


.task-items{

    height: min(480px, 100%);
    width: 100%;

}

.task-item-containers{

    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 14px;

    font-weight: 500;
    color: #494949;



    height: 65px;

    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    
    box-shadow:
    1.1px 1.1px 1.9px rgba(0, 0, 0, 0.014),
    2.9px 2.9px 5.3px rgba(0, 0, 0, 0.024),
    5.8px 5.8px 11.4px rgba(0, 0, 0, 0.033),
    12px 12px 24.1px rgba(0, 0, 0, 0.045),
    33px 33px 76px rgba(0, 0, 0, 0.07);

}

.fav-settings-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

